[package]
name = "coverm"
version = "0.6.1"
authors = ["Ben Woodcroft <benjwoodcroft@gmail.com>"]
license = "GPL-3.0"
description = "Read coverage calculator for metagenomics"
homepage = "https://github.com/wwood/CoverM"
repository = "https://github.com/wwood/CoverM"
documentation = "https://github.com/wwood/CoverM"
readme = "README.md"
exclude = [ # Max upload is 10MB, as of writing test data was 15MB
  "tests/*",
]
default-run = "coverm"

[dependencies]
bio = "0.37.0"
rust-htslib = { version="0.36.*", default-features = false }
clap = "2.*"
log = "0.4.*"
env_logger = "0.8.*"
nix = "0.20.*"
tempdir = "0.3.*"
tempfile = "3.*"
ansi_term = "0.12"
lazy_static = "1.4.0"
rand = "0.8.*"
serde = "1.0"
version-compare = "0.0.11"
bird_tool_utils = "0.3.0"
#bird_tool_utils = { path = "/home/ben/git/bird_tool_utils-local" }
galah = "0.3.0"
bird_tool_utils-man = "0.4.0"
roff = "0.1.*"

[dev-dependencies]
assert_cli = "0.6.*"
# Run things before commit but not push
cargo-husky = { version="1", default-features = false, features=["precommit-hook", "run-cargo-test", "run-cargo-fmt"] }
