name: Test CoverM with Setup-Miniconda From Marketplace
on: [push, pull_request]

jobs:
  miniconda_linux:
    name: Miniconda (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          environment-file: coverm.yml
          channels: conda-forge,defaults,bioconda
          mamba-version: "*"
      - name: Conda info
        shell: bash -el {0}
        run: conda info
      - name: Conda list
        shell: pwsh
        run: conda list
      - name: Run test
        shell: bash -el {0}
        run: |
            cargo test
  miniconda_osx:
    name: miniconda_osx (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["macos-latest"]
        python-version: ["3.8"] # Must use 3.8 so that minimap2 installs
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          environment-file: coverm-osx.yml
          channels: conda-forge,defaults,bioconda
          mamba-version: "*"
      - name: Conda info
        shell: bash -el {0}
        run: conda info
      - name: Conda list
        shell: pwsh
        run: conda list
      - name: Run test
        shell: bash -el {0}
        run: |
          cargo test -- --skip bwa_mem2
